<section>
    <div class="container d-flex justify-content-center">
        <div class="card mt-5 p-4">
            <div class="header-img">
                <div class="menu-icon">
                    <div class="dropdown">
                        <a href="#" class="dropbtn"><img src="/images/hamburgur.png" /></a>
                        <div class="dropdown-content">
                            <ul>
                                <li><a href="/login">LogIn</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="app-icon"><a href="/"><img src="/images/mainLogo.png" /></a></div>
            </div>

            {{! Registration Form }}
            <h2 class="page-title">{{title}}</h2>
            <div class="login-form">
                <form action="/login/new" method="POST">
                    <div class="user-input"><input type="email" name="emailInput" placeholder="Enter your email!"
                            required /><span class="required">* required</span></div>
                    <div class="pass-input"><input type="password" name="pwdInput" placeholder="Enter your password"
                            required /><span class="required">* required</span>
                    </div>
                    <div align="center" class="mt-4"><button type="submit" class="btn btn-primary">Create
                            Account</button></div>
                </form>
            </div>

            <div class="login-error">{{error}}</div>

            <p align="center"><a href="/login">Already have an account? LogIn</a></p>
        </div>
    </div>
</section>